.desktopNav {
  background-color: #202020;
}

.textoBlanco {
  color: #ffffff;
}

p {
  color: #ffffff;
}

.logo-in {
  width: 50px;
  height: 50px;
}
.imagen {
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #202020;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  font-size: 8px;
  text-align: center;
  padding: 10px 4px;
  text-decoration: none;
}

/* .tabs__btns {
  position: relative;
  width: 13%;
  min-width: 125px;
  padding: 20px 30px 20px 0;
  margin: 0;
  vertical-align: top;
  text-transform: capitalize;
  border-bottom: none;
  background-color: #fff;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  white-space: normal;
  color: black;
} */
